@{
    ViewData["Title"] = "Register";
}

@model User
@* @{
    var postUrl = Url.Action("CreateUser", "Account");
} *@

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg rounded-3">
                <div class="card-body p-4">
                    <h3 class="text-center mb-4">Create Account</h3>

                    @* <form method="post" action="@postUrl"> *@
                    <form method="post" asp-controller="Account" asp-action="CreateUser">

                        <!-- Name -->
                        <div class="mb-3">
                            <label class="form-label">Enter Your Name</label>
                            <input type="text"
                                   asp-for="Name"
                                   class="form-control"
                                   placeholder="Enter full name"
                                   required />
                        </div>

                        <!-- Role -->
                        <div class="mb-3">
                            <label class="form-label">Select Role</label>
                            <select asp-for="Role" class="form-select" required>
                                <option value="" disabled selected>Select Role</option>
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>

                        <!-- Button -->
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary">
                                Register User
                            </button>
                        </div>
                        <div class="d-grid mt-4">
                            <button type="reset" class="btn btn-primary">
                                Reset
                            </button>
                        </div>
                    </form>

                    <hr />

                    <p class="text-center mb-0">
                        Already have an account?
                        <a asp-controller="Account" asp-action="Login">
                            Login
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
