﻿
<li class="nav-item">
    <a class="nav-link" aria-current="page" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" asp-area="Admin" asp-controller="Student" asp-action="Index">Student</a>
</li>