@using AuthProject.Services
@inject IAuthContextService authContext

@{
    var currentSession = authContext.GetSession();
    bool isAuthenticated = false;
}

@if (currentSession != null)
{
    isAuthenticated = true;
}

@if (isAuthenticated)
{
    @Html.Partial("Components/_LogoutForm")

    <!-- Bootstrap CSS & JS include hona chahiye -->

    <div class="dropdown">

        <a href="#"
           class="d-flex align-items-center text-decoration-none dropdown-toggle"
           id="userDropdown"
           data-bs-toggle="dropdown"
           aria-expanded="false">

            <img src="~/img/user-icon.png"
                 alt="User"
                 width="40"
                 height="40"
                 class="rounded-circle border me-2">

            <span class="fw-semibold">@(currentSession.Name ?? "Anonymous")</span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end shadow"
            aria-labelledby="userDropdown">
            @if(currentSession.Role.ToUpper() == "USER")
            {

                <li>
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-person me-2"></i> Profile
                    </a>
                </li>

            }
            @if (currentSession.Role.ToUpper() == "ADMIN")
            {

                <li>
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-box-fill"></i> Dashboard


                    </a>
                    
                </li>
            }
            <li>
                <a class="dropdown-item" href="#">
                    <i class="bi bi-gear me-2"></i>
                    Settings
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item text-danger" href="#" onclick="document.getElementById('logoutForm').submit()" >
                    <i class="bi bi-box-arrow-right me-2"></i>
                    Logout
                </a>
            </li>
        </ul>

    </div>

}
else
{
    <div>
        <a class="btn btn-sm btn-outline-primary"
           asp-controller="Account"
           asp-action="Login">Login</a>
        <a class="btn btn-sm btn-outline-secondary"
           asp-controller="Account"
           asp-action="Register">Register</a>
        <a class="btn btn-sm btn-outline-secondary"
           asp-controller="Enquiry"
           asp-action="Index">Enquiry</a>
    </div>
    
}




